# MIT License
#
# Copyright (c) 2020-2021 Kazuhito Suda
#
# This file is part of NGSI Go
#
# https://github.com/lets-fiware/ngsi-go
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

version: "3"

services:
  orion:
    image: fiware/orion:2.5.2
    depends_on:
      - mongo
    command: -dbhost mongo

  orion-ld:
    image: fiware/orion-ld:0.6-PRE-41
    depends_on:
      - mongo
    command: -dbhost mongo -db orionld

  mongo:
    image: mongo:3.6
    command: --nojournal
    volumes:
      - ./config/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro

  comet:
    image: fiware/sth-comet:2.8.0
    restart: always
    depends_on:
      - mongo
    environment:
      - STH_HOST=0.0.0.0
      - DB_URI=mongo:27017

  quantumleap:
    image: orchestracities/quantumleap:0.8.0
    depends_on:
      - crate
    environment:
      - CRATE_HOST=crate

  crate:
    image: crate:4.1.4
    command: crate -Cauth.host_based.enabled=false -Ccluster.name=democluster -Chttp.cors.enabled=true -Chttp.cors.allow-origin="*"
    environment:
      - CRATE_HEAP_SIZE=2g

  iot-agent:
    image: fiware/iotagent-ul:1.15.0
    depends_on:
      - mongo
    environment:
      - IOTA_CB_HOST=orion
      - IOTA_CB_PORT=1026
      - IOTA_NORTH_PORT=4041
      - IOTA_REGISTRY_TYPE=mongodb
      - IOTA_LOG_LEVEL=DEBUG
      - IOTA_TIMESTAMP=true
      - IOTA_MONGO_HOST=mongo
      - IOTA_MONGO_PORT=27017
      - IOTA_MONGO_DB=iotagentul
      - IOTA_HTTP_PORT=7896
      - IOTA_PROVIDER_URL=http://iot-agent:4041

  perseo:
    image: telefonicaiot/perseo-fe:1.15.0
    restart: always
    depends_on:
      - mongo
      - perseo-core
    environment:
      - PERSEO_MONGO_ENDPOINT=mongo
      - PERSEO_CORE_URL=http://perseo-core:8080
      - PERSEO_ORION_URL=http://orion:1026/

  perseo-core:
    image: telefonicaiot/perseo-core:1.6.0
    environment:
      - PERSEO_FE_URL=http://perseo:9090

  pep-proxy:
    image: fiware/pep-proxy:7.9.1
    depends_on:
      - keyrock
   
  keyrock:
    image: fiware/idm:7.9.1
    depends_on:
      - mysql
    ports:
      - 3000:3000
    environment:
      - IDM_DIALECT=mysql
      - IDM_DB_HOST=mysql
      - IDM_DB_NAME=idm
      - IDM_DB_USER=keyrock
      - IDM_DB_PASS=1234
      - IDM_ADMIN_ID=admin
      - IDM_ADMIN_USER=admin
      - IDM_ADMIN_EMAIL=admin@letsfiware.jp
      - IDM_ADMIN_PASS=1234

  cygnus:
    image: fiware/cygnus-ngsi:2.6.0
    hostname: cygnus
    container_name: fiware-cygnus
    depends_on:
        - mongo
    networks:
        - default
    environment:
        - "CYGNUS_MONGO_HOSTS=mongo:27017"
        - "CYGNUS_MONGO_SERVICE_PORT=5051"
        - "CYGNUS_API_PORT=5080"
        - "CYGNUS_SERVICE_PORT=5051"

  wirecloud:
    image: fiware/wirecloud:1.3.1
    ports:
      - 8000:8000
    volumes:
      - ./config/custom_createsuperuser.py:/usr/local/lib/python3.6/site-packages/wirecloud/commons/management/commands/custom_createsuperuser.py

  mysql:
    image: mysql:5.7.33
    environment:
      - MYSQL_ROOT_PASSWORD=secret
    volumes:
      - ./config/mysql-init.sql:/docker-entrypoint-initdb.d/mysql-init.sql:ro

  accumulator:
    build: ./server/accumulator
    image: letsfiware/accumulator:latest

  atcontext:
    build: ./server/atcontext
    image: letsfiware/atcontext:latest

  csource:
    build: ./server/csource
    image: letsfiware/csource:latest

  oauth:
    build: ./server/oauth
    image: letsfiware/oauth:latest

  ngsi-test:
    build: ./ngsi-test
    image: letsfiware/ngsi-test:latest
    depends_on:
      - mongo
      - orion
      - orion-ld
      - accumulator
      - atcontext
      - csource
      - oauth
    volumes:
      - ../bin/ngsi:/usr/local/bin/ngsi:ro
      - ../autocomplete/ngsi_bash_autocomplete:/usr/share/bash-compeletion/completions/ngsi_bash_autocomplete:ro
      - .:/root/e2e

volumes:
    wirecloud-data:
    wirecloud-static:
